scipy
scikit-learn
seaborn
plotly
transformers
datasets
huggingface_hub
accelerate
gradio
torch
torchvision
numpy 
pandas
matplotlib
decord
ultralytics
transformers
supervision
shapely
huggingface_hub
opencv-python
google-generativeai
pillow
ipython